<div>
    <h2>
        {{user.name}}
    </h2>
    <img ng-src="https://avatars.githubusercontent.com/u/{{user.id}}" title="{{user.name}}"/>
    Order:
    <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count" selected>Stars</option>
        <option value="+language">Language</option>
    </select>
    <table></div>

    <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td>{{repo.name}}</td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
    </tbody>
</table>
